/* Estilos globales para todos los elementos */
* {
    box-sizing: border-box; /* Box-sizing para incluir el padding y el borde en el ancho y alto del elemento */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fuente predeterminada para todo el documento */
}

/* Estilos para el documento HTML y el cuerpo */
html, body {
    margin: 0; /* Quitar margen */
    padding: 0; /* Quitar relleno */
    background-color: #faeafd; /* Color de fondo del documento */
    width: 100%; /* Ancho del 100% */
    height: 100%; /* Altura del 100% */
    margin-bottom: 200px; /* Margen inferior de 200px */
}

/* Estilos para el encabezado */
header {
    background-color: #e6b9ef; /* Color de fondo del encabezado */
    padding: 20px; /* Relleno interno de 20px */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para la imagen del encabezado */
header img {
   max-width: 15%; /* Tamaño máximo del logo del 15% del contenedor padre */
   height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para la navegación */
nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente para la navegación */
    background-color: #460a48; /* Color de fondo de la barra de navegación */
    padding: 0.5px; /* Relleno de 0.5px */
    text-align: center; /* Alineación del texto al centro */
}
/* Estilos para los enlaces de navegación */
nav a {
    color: white; /* Color del texto en los enlaces */
    display: inline-block; /* Mostrar como bloque en línea */
    margin: 2px 10px; /* Margen exterior de 2px arriba/abajo y 10px izquierda/derecha */
    text-decoration: none; /* Quitar subrayado del texto */
    font-weight: bold; /* Peso de la fuente en negrita */
}

/* Estilos para el contenido principal */
main {
    width: 100%; /* Ancho del 100% */
    height: 60%; /* Altura del 60% del contenedor padre */
    display: flex; /* Mostrar como contenedor flexible */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    /* background: #ea97cb; */ /* Color de fondo opcional */
}

/* Estilos para el fondo del modal */
.fondoModal {
    width: 100%; /* Ancho del 100% */
    height: 100vh; /* Altura del 100% de la ventana gráfica */
    position: absolute; /* Posición absoluta */
    top: 0; /* Alinear en la parte superior */
    left: 0; /* Alinear en la parte izquierda */
    text-align: center; /* Alineación del texto al centro */
    display: none; /* Ocultar por defecto */
    flex-direction: column; /* Dirección de los elementos hijos en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}

/* Estilos para el modal */
.modal {
    width: 39rem; /* Ancho del modal */
    box-shadow: 9px 10px black; /* Sombra */
    border: 4px solid black; /* Borde */
    background-color: white; /* Color de fondo */
    margin: 0 auto; /* Margen automático horizontalmente */
}
/* Estilos para el encabezado del modal */
.modalHeader {
    background-color: rgb(255, 127, 242); /* Color de fondo */
    display: flex; /* Mostrar como contenedor flexible */
    flex-direction: row-reverse; /* Dirección de los elementos hijos de derecha a izquierda */
    justify-content: space-between; /* Distribuir el espacio entre los elementos hijos */
}

/* Estilos para los elementos de texto en el encabezado del modal */
.modalHeader span {
    font-size: 1rem; /* Tamaño de fuente */
    padding-right: 0.5rem; /* Relleno derecho */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    margin-top: 0.5rem; /* Margen superior */
}

/* Estilos para el pie de página del modal */
.modalFooter {
    background-color: rgb(253, 127, 255); /* Color de fondo */
    margin-bottom: 0; /* Margen inferior */
}

/* Estilos para la envoltura de los elementos */
.envoltura {
    display: flex; /* Mostrar como contenedor flexible */
    width: 70%; /* Ancho del 70% del contenedor padre */
    justify-content: space-around; /* Distribuir el espacio entre los elementos hijos */
}

/* Estilos para las tarjetas */
.card {
    width: 280px; /* Ancho de la tarjeta */
    height: 300px; /* Altura de la tarjeta */
    padding: 2rem 1rem; /* Relleno interno */
    background: #d15ed5; /* Color de fondo */
    position: relative; /* Posición relativa */
    display: flex; /* Mostrar como contenedor flexible */
    align-items: flex-end; /* Alinear los elementos hijos al final del eje transversal */
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0, 5); /* Sombra */
    transition: 0.5s ease-in-out; /* Transición */
}
/* Estilos para la tarjeta cuando se realiza un hover */
.card:hover {
    transform: translateY(20px); /* Traslación hacia abajo */
}

/* Estilos para el pseudo-elemento :before de la tarjeta */
.card:before {
    content: ""; /* Contenido vacío */
    position: absolute; /* Posición absoluta */
    top: 0; /* Desde la parte superior */
    left: 0; /* Desde la parte izquierda */
    display: block; /* Mostrar como bloque */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background: linear-gradient(to bottom, rgb(240, 205, 240)), rgba(0, 0, 0, 0, 5); /* Degradado lineal */
    z-index: 2; /* Índice z */
    transition: 0.5s all; /* Transición */
    opacity: 0; /* Opacidad inicial */
}

/* Estilos para el pseudo-elemento :before de la tarjeta cuando se realiza un hover */
.card:hover:before {
    opacity: 1; /* Opacidad al realizar un hover */
}

/* Estilos para la imagen dentro de la tarjeta */
.card img {
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    object-fit: cover; /* Ajustar la imagen dentro del contenedor */
    position: absolute; /* Posición absoluta */
    top: 0; /* Desde la parte superior */
    left: 0; /* Desde la parte izquierda */
}
/* Estilos para la información dentro de la tarjeta */
.card .info {
    position: relative; /* Posición relativa */
    z-index: 3; /* Índice z */
    color: rgb(36, 33, 32); /* Color del texto */
    opacity: 0; /* Opacidad inicial */
    transform: translateY(30px); /* Traslación hacia abajo */
    transition: 0.5s all; /* Transición */
}

/* Estilos para la información dentro de la tarjeta al realizar un hover */
.card:hover .info {
    opacity: 1; /* Opacidad al realizar un hover */
    transform: translateY(0px); /* Traslación a la posición original */
}

/* Estilos para el título dentro de la información de la tarjeta */
.card .info h2 {
    margin: 0; /* Eliminar margen */
}

/* Estilos para el párrafo dentro de la información de la tarjeta */
.card .info p {
    letter-spacing: 1px; /* Espaciado entre letras */
    font-size: 15px; /* Tamaño de fuente */
    margin-top: 8px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para el botón dentro de la información de la tarjeta */
.card .info .btn {
    text-decoration: none; /* Sin subrayado */
    padding: 0.5rem 1rem; /* Relleno */
    background: #fff; /* Color de fondo */
    color: #000; /* Color del texto */
    font-size: 14px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    cursor: pointer; /* Cursor */
    transition: 0.4s ease-in-out; /* Transición */
}

/* Estilos para el botón dentro de la información de la tarjeta al realizar un hover */
.card .info .btn:hover {
    box-shadow: 0px 7px 10px rgb(241, 64, 191); /* Sombra al realizar un hover */
}

/* Estilos para el pie de página */
.footer {
    background-color: #e6b9ef; /* Color de fondo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-transform: capitalize; /* Transformación de texto en mayúsculas */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Familia de fuentes */
    padding: 40px 100px; /* Relleno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para la fila del pie de página */
.footer-row {
    display: flex; /* Mostrar como flex */
    flex-wrap: wrap; /* Envolver elementos en múltiples líneas si es necesario */
    margin-left: 200px; /* Margen izquierdo */
}

/* Estilos para los enlaces del pie de página */
.footer-links {
    width: 25%; /* Ancho */
    padding: 0 15px; /* Relleno */
    text-decoration: none; /* Sin decoración de texto */
}
/* Estilos para los encabezados de los enlaces del pie de página */
.footer-links h3 {
    font-size: 15px; /* Tamaño de fuente */
    margin-bottom: 25px; /* Margen inferior */
    font-weight: 500; /* Grosor de la fuente */
    border-bottom: 2px solid; /* Borde inferior */
    padding-bottom: 10px; /* Relleno inferior */
    display: inline-block; /* Mostrar como bloque en línea */
    text-align: center; /* Alineación del texto */
}

/* Estilos para los enlaces del pie de página */
.footer-row ul li a {
    font-size: 18px; /* Tamaño de fuente */
    text-decoration: none; /* Sin decoración de texto */
    display: block; /* Mostrar como bloque */
    margin-bottom: 15px; /* Margen inferior */
    transition: all 0.3s ease; /* Transición de todas las propiedades */
    color: hsl(290, 67%, 32%); /* Color de texto */
}

/* Estilos para los enlaces del pie de página al pasar el mouse */
.footer-links ul li a:hover {
    color: white; /* Cambiar color de texto a blanco */
    padding-left: 6px; /* Añadir relleno a la izquierda */
}

/* Estilos para los íconos de redes sociales */
.redes-sociales {
    width: 30px; /* Ancho del ícono */
    height: 30px; /* Alto del ícono */
    border-radius: 20px; /* Radio del borde */
    padding: 0%; /* Relleno */
    margin-right: 10px; /* Margen derecho */
}

/* Estilos para los enlaces de las redes sociales */
.redes-sociales a {
    display: inline-block; /* Mostrar como bloque en línea */
    min-height: 40px; /* Altura mínima */
    width: 40px; /* Ancho */
    margin: 0 10px 10px 0; /* Margen */
    text-align: center; /* Alineación del texto */
    line-height: 40px; /* Altura de línea */
    border-radius: 50%; /* Radio del borde */
    color: white; /* Color del texto */
    transition: all 0.5s ease; /* Transición de todas las propiedades */
}

/* Estilos para el contenedor principal */
.contenedor {
    max-width: 1200px; /* Ancho máximo */
    margin: auto; /* Margen automático */
    margin-right: 1%; /* Margen derecho */
}
/* Estilos para la lista sin viñetas */
ul {
    list-style: none; /* Eliminar las viñetas */
    flex-direction: none; /* Dirección del flex */
}

/* Estilos para el contenedor de redes sociales */
.contenedor-redes {
    display: flex; /* Mostrar como flex */
    justify-content: center; /* Centrar el contenido */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 568px) {
    header a {
        display: none; /* Ocultar los enlaces del encabezado */
    }
    .icon {
        float: left; /* Flotar a la izquierda */
        display: block; /* Mostrar como bloque */
    }
    header .responsive a {
        display: block; /* Mostrar los enlaces responsivos como bloque */
        text-align: center; /* Alinear al centro */
        float: none; /* No flotar */
    }
    .footer-links {
        width: 100%; /* Ancho del 100% para ocupar todo el espacio disponible */
        margin: 0; /* Eliminar el margen */
    }
    .footer-row {
        margin-left: 0; /* Eliminar el margen izquierdo */
    }
}