@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.ttf");
  }
  
  .articulo{
    color: blue;
  }
  .parrafo {
    font-size: small;
  }

  header {
    text-align: center;
  }
  .titulo_seccion {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    padding-top: 2rem;
    color: white;
    text-shadow: -1px 2px 2px black;
  }
  .seccion {
    margin-top:2rem;
    background-image: url("../img/fondo_section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: repeating-conic-gradient(red 0deg 10deg,yellow 10deg 20deg);
    margin-bottom: 2rem; 
    border-bottom: 1px solid black;
    border-radius: 50%;*/
  }
  article {
    color: red;
    text-indent: 5rem;
  }
  footer {
    text-align: right;
  }
  #direccion {
    padding-right: 2rem;
    display: inline;
  }
  ul {
    list-style-type: none;
  }
  .ultimo_articulo {
    margin-bottom: 1rem;
  }
  .contenedor_secciones{
    display: inline-block;
    width: 20rem;
    height: 5rem;
  }

  aside{
    margin-left: 30%;
    text-align: center;
    padding: 2rem;
    background-color: pink;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0), 0 6px 20px 0 rgb(0, 0, 0);

  
  }
  nav{ 
    text-align:center;
    margin-top: 1rem;
    margin-bottom: 20rem;
    position: sticky;
    top: 2rem;
  }
  
  /*
     z-index : para poner capas por encima 
  fixed significa fija, siempre esta fijado, más atractivo visual  
     sticky se encaja como puzzle

     static: no se debe de mover a ningun lado 
     relative: se usa más que el absolut 
     absoluto: 
     displa:block: ocupa todo
     display: inline-block: acota solo las letras. solo el contenido.
    
      EJERICIO: MAQUETAR LA PAGINA DE PORTFOLIO QUE YA TENEMOS, 
     USANDO TANTO FLOAT COMO POSITION RELATIVE SEGUN NOS CONVENGA Y TAMBIEN USAR DISPLAY 
     */
 
     