* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem; 
    background-color:rgb(233, 228, 228);

}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
 .nav-list li a{
    text-decoration: none;
    color: rgb(4, 4, 4);

}
 .abrirMenu
 .cerrarMenu{

    display: none;
}

@media screen and (max-width: 550px) {
    .abrirMenu,
    .cerrar{
        display: block;
    }
    
 
 .nav{
    opacity: 0;
    visibility: hidden ;
  }
  .nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(217, 214, 214);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgb(248, 247, 247);
    
  }

  .nav.visible{
    opacity: 1;
    visibility: visible; 
  }
  .nav-list{
    flex-direction: column;
    align-items: end;
  }
  .nav-list li a{
    color:white;
  }
}